#map {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: rgba(51, 51, 51, 0.8);
  overflow-x: hidden;
}

.sidebar a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar a.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.country-filter label {
  display: block;
  margin-bottom: 10px;
}

.country-filter input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.country-filter input[type="checkbox"]:checked + span {
  font-weight: bold;
}

.country-filter input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #5b5b5b;
  min-width: 160px;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-indent: 20px;
}

.open .dropdown-content {
  display: block;
}

.dropdown-btn::after {
  content: "";
  display: inline-block;
  border: solid #333;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
}

.dropdown.open .dropdown-btn::after {
  transform: rotate(-135deg);
}
